@model IList<theBestBlog.Domain.Objects.Post>


<div class="card my-4 sticky">
    <h5 class="card-header text-center">Latest Posts</h5>
    <div class="card-body">
        <div class="row">
            <div class="col">
                @if (Model.Count > 0)
                {
                    <ul class="list-unstyled mb-0">
                        @foreach (var post in Model)
                        {
                            <li>@Html.PostLink(post)</li>
                        }
                    </ul>
                }
                else
                {
                    <p>No categories found!</p>
                }

            </div>
        </div>
    </div>
</div>